{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static '/css/utilities.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/contact.css' %}">

    <!--internal styling-->
    <style>
        .contact-header {
            width: 100%;
            height: 500px;
            background-color: #4db5a8;
            position: relative;
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <header class="contact-header">
        <div class="header-content-container">
            <div class="logo">
                <h1><a href={% url "blog-home" %}>Dev<span>Blog</span></a></h1>
                <div class="smaller-circle"></div>
                <div class="small-circle"></div>
            </div>
            <nav>
                <ul>
                    <li><a href={% url "blog-home" %}>Home</a></li>
                    <li><a href={% url "about" %}>About</a></li>
                    <li><a href={% url "contact" %}>Contact</a></li>
                    <li><a href={% url "login" %}>Login</a></li>
                    <li><a href={% url "register" %}>Sign up</a></li>
        </div>
        <div class="about-us">
            <h2 class="text-bold">About Us</h2>
        </div>
    </header>
    <main>
        <section class="about-section">
            <div class="container">
                <h1 class="mt-4 text-bold md">We are DevBlog</h1>
                <p class="pt-1 lead" style="max-width: 40ch;">A Nigerian based Blog passionate
                about creating and writing enjoyable
                digital contents for the public.</p>
            </div>
        </section>
    </main>

    <!-- Footer section -->
    <footer>
        <div class="container">
            <div class="grid">
                <div class="footer-logo">
                    <h1>Kay<span>Blog</span></h1>
                    <div class="smaller-circle"></div>
                    <div class="small-circle"></div>
                </div>
                <div>
                    <h1 class="quick-links">Quick Links</h1>
                    <ul>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href={% url "about" %}>About</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="designer-info text-center">
            <p class="lead">&copy; 2021 | Designed By Oluwakayode and AlekenTriumph</p>
        </div>
    </footer>
</body>

</html>