{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/utilities.css' %}">
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">
        <link rel="stylesheet" href="{% static '/css/auth.css' %}">
    </head>
    <body>
        <div style = "height: 100px">

        </div>
        <form method="POST" style="text-align:center">
            {% csrf_token %}
            <h1>Reset Password</h1>
            <br />
            {{form.as_p}}
            <br />
            <div>
                <input type="submit" value="Confirm" class="btn btn-secondary" style="height: 30px">
            </div>
        </form>
        <script src="" async defer></script>
    </body>
</html>